@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap');
* {
  font-family: 'Mitr', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('https://wallpapercave.com/wp/wp3429758.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-menu {
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-top: 1rem;
}
.head-menu div span[type='button'] {
  margin: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  transition: 0.25s;
}

.head-menu div span[type='button']:hover {
  cursor: pointer;
  background: #f7f7f77e;
  width: 2.5rem;
  height: 2.5rem;
}
.search span {
  margin-top: 10%;
  position: relative;
  width: 50%;
}
.search input {
  font-size: 18px;
  line-height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 95%;
  outline: none;
  border: 1px;
  border-radius: 20px;
  background: #ffffffe0;
}
.search i {
  position: absolute;
  right: -2.5rem;
  bottom: 0.05rem;
  font-size: 38px;
  display: inline-block;
  cursor: pointer;
  color: #ffffffe0;
}
footer {
  margin-top: 15%;
}
footer div.shortcut-menu {
  margin: 1rem;
}
div.shortcut-menu {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0rem;
  align-items: center;
  border: 1px solid #ffffff94;
  border-radius: 5px;
  width: 5rem;
  height: 4rem;
  backdrop-filter: blur(2px);
  transition: 0.25s;
  cursor: pointer;
}
div.shortcut-menu:hover {
  background: #f7f7f77e

}
span.card {
  width: 2rem;
  border: 1px solid #ffffff94;
  border-radius: 5px;
  background: #d6d6d6b2

}
